Repository tavernadev/bot-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.md --fix --config=.eslintrc.json, remark -o -r .remarkrc, remark -f -r .remarkrc, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

chore: adjust the path of test.yml CI
  .github/workflows/test.yml
Due: prettier-standard --format '**/*.{json,yaml,yml}'

[devops-2] - Criar CI (#4)
  .github/workflows/test.yml
Due: prettier-standard --format '**/*.{json,yaml,yml}'

Development (#6)
  .depcheckrc.json
  .eslintrc.json
  .github/workflows/test.yml
  .gitignore
  .huskyrc.json
  .lintstagedrc.json
  .npmpackagejsonlintrc.json
  .remarkrc
  .vscode/settings.json
  README.md
  commitlint.config.js
  docs/workflow.md
  package-lock.json
  package.json
  src/index.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, remark -o -r .remarkrc, remark -f -r .remarkrc, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

feat: bot send messages
  .gitignore
  package-lock.json
  package.json
  src/index.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

feat: add jest
  .eslintrc.json
  .gitignore
  jest.config.js
  package-lock.json
  package.json
  src/tests/example.spec.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

feat: import discord file in index
  .gitignore
  package-lock.json
  package.json
  src/discord.js
  src/index.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

feat: add codecov
  .gitignore
  codecov.yml
  package.json
Due: npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

feat: add codecov
  .github/workflows/test.yml
Due: prettier-standard --format '**/*.{json,yaml,yml}'

feat: add codecov
  .github/workflows/test.yml
  package-lock.json
  package.json
Due: npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

feat: add codecov
  src/index.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json

feat: add codecov
  .github/workflows/test.yml
  .gitignore
  codecov.yml
Due: prettier-standard --format '**/*.{json,yaml,yml}'

feat: add codecov
  src/tests/example.spec.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json

feat: add codecov
  .github/workflows/test.yml
  src/tests/example.spec.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, prettier-standard --format '**/*.{json,yaml,yml}'

feat: add dependabot
  .github/dependabot.yml
  .gitignore
Due: prettier-standard --format '**/*.{json,yaml,yml}'

feat: add codecov
  jest.config.js
  package.json
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

feat: add codecov
  .github/workflows/test.yml
  package.json
Due: npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

feat: add codecov
  package.json
Due: npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

feat: remove coverage from .gitignore
  .gitignore
Due: none

[devops-3] add dependabot (#14)
  .github/dependabot.yml
Due: prettier-standard --format '**/*.{json,yaml,yml}'

feat: add babel
  babel.config.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json

refactor: changed the jest tests
  src/index.js
  src/tests/index.test.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json

fix: requested changes and fixed coverage
  jest.config.js
  package-lock.json
  package.json
  src/tests/example.spec.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

feat: add on push event on test.yml
  .github/workflows/test.yml
Due: prettier-standard --format '**/*.{json,yaml,yml}'

fix: fixed vulnerability on ini <1.3.5 to ini <1.3.7
  package-lock.json
Due: prettier-standard --format '**/*.{json,yaml,yml}'

fix: add comma
  package-lock.json
Due: prettier-standard --format '**/*.{json,yaml,yml}'

chore: update ini version
  package-lock.json
Due: prettier-standard --format '**/*.{json,yaml,yml}'

fix: add requested changes
  .babelrc
  babel.config.js
  jest.config.js
  package.json
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

[feat-5] Add JEST (#8)
  .babelrc
  .eslintrc.json
  .gitignore
  jest.config.js
  package-lock.json
  package.json
  src/index.js
  src/tests/index.test.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

feat: add pull request template
  .github/pull_request_template.md
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, remark -o -r .remarkrc, remark -f -r .remarkrc

chore: fixed babel integration and test
  .env.dev
  .nodemonrc
  package-lock.json
  package.json
  src/tests/index.test.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

chore: corrigido start com babel
  .gitignore
  .nodemonrc 
  package-lock.json
  package.json
Due: npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

chore: re-add npm run fix and run fix against all files
  README.md
  docs/workflow.md
  package.json
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, remark -o -r .remarkrc, remark -f -r .remarkrc, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

Path conditions:
  eslint --ext .js,.md --fix --config=.eslintrc.json: any of: *.{js,md}
  remark -o -r .remarkrc: any of: *.md
  remark -f -r .remarkrc: any of: *.md
  npmPkgJsonLint .: any of: {package.json, package-lock.json}
  lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json: any of: {package.json, package-lock.json}
  prettier-standard --format '**/*.{json,yaml,yml}': any of: *.{json,yaml,yml}
