Repository tavernadev/bot-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.md --fix --config=.eslintrc.json, remark -o -r .remarkrc, remark -f -r .remarkrc, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

[hotfix-1] - Corrigir Start Script Com Babel (#26)
  .gitignore
  .nodemonrc 
  README.md
  docs/workflow.md
  package-lock.json
  package.json
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, remark -o -r .remarkrc, remark -f -r .remarkrc, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

[devops-11] Add codecov (#9)
  .github/workflows/test.yml
  codecov.yml
  jest.config.js
  package-lock.json
  package.json
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

[devops-13] Add CI for test on-push (#18)
  .github/workflows/test.yml
Due: prettier-standard --format '**/*.{json,yaml,yml}'

Development (#27)
  .babelrc
  .eslintrc.json
  .github/workflows/test.yml
  .gitignore
  .nodemonrc 
  README.md
  codecov.yml
  docs/workflow.md
  jest.config.js
  package-lock.json
  package.json
  src/index.js
  src/tests/index.test.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, remark -o -r .remarkrc, remark -f -r .remarkrc, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

chore: removed blank space from at then of filename
  .nodemonrc
Due: none

chore: removed duplicated file
  .nodemonrc 
Due: none

chore: add codecov badge and add a validation to codecov yml
  README.md
  package.json
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, remark -o -r .remarkrc, remark -f -r .remarkrc, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

chore: update pull request template
  .github/pull_request_template.md
  package.json
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, remark -o -r .remarkrc, remark -f -r .remarkrc, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

[devops-9] Create Pull Request Template (#21)
  .github/pull_request_template.md
  package.json
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, remark -o -r .remarkrc, remark -f -r .remarkrc, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

[devops-9] Create Pull Request Template (#21) (#28)
  .github/pull_request_template.md
  package.json
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, remark -o -r .remarkrc, remark -f -r .remarkrc, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

feat: add express
  jest.config.js
  package-lock.json
  package.json
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

feat: add express, webpack and debug config
  .babelrc
  .depcheckrc.json
  .env.dev
  .eslintignore
  .github/workflows/test.yml
  .nodemonrc
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  package-lock.json
  package.json
  src/server/index.js
  webpack.config.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, remark -o -r .remarkrc, remark -f -r .remarkrc, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

chore: update express folder structure
  .vscode/launch.json
  package.json
  src/index.js
  src/routes/hello.router.js
  src/routes/index.js
  src/routes/message.router.js
  src/server/index.js
  src/services/message.service.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

chore: add error handler and route handler for express
  src/index.js
  src/routes/hello.router.js
  src/routes/index.js
  src/routes/message.router.js
  src/server/index.js
  src/services/message.service.js
  src/utils/handleError.js
  src/utils/handleRoute.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json

chore: adjust webpack with environment variables
  .depcheckrc.json
  .env.dev
  .vscode/launch.json
  .vscode/tasks.json
  package-lock.json
  package.json
  scripts/await-build.js
  src/index.js
  src/utils/dotenv.js
  webpack.config.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

chore: adjust architecture
  src/routes/index.js
  src/routes/message.route.js
  src/server/error.js
  src/server/index.js
  src/services/message.service.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json

chore: adjust build command in gactions
  .github/workflows/test.yml
Due: prettier-standard --format '**/*.{json,yaml,yml}'

chore: add tests for express
  jest.config.js
  package-lock.json
  package.json
  src/index.js
  src/tests/index.test.js
  src/tests/server/server.test.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

chore: add 100% coverage test for express
  src/config/index.js
  src/index.js
  src/server/error.js
  src/server/index.js
  src/services/message.service.js
  src/tests/config/index.test.js
  src/tests/server/error.test.js
  src/tests/server/server.test.js
  src/tests/services/message.test.js
  src/utils/dotenv.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json

docs: adjust getting started guide
  README.md
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, remark -o -r .remarkrc, remark -f -r .remarkrc

Feat 3 (#30)
  .babelrc
  .depcheckrc.json
  .env.dev
  .eslintignore
  .github/workflows/test.yml
  .nodemonrc
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  jest.config.js
  package-lock.json
  package.json
  scripts/await-build.js
  src/config/index.js
  src/index.js
  src/routes/index.js
  src/routes/message.route.js
  src/server/error.js
  src/server/index.js
  src/services/message.service.js
  src/tests/config/index.test.js
  src/tests/index.test.js
  src/tests/server/error.test.js
  src/tests/services/message.test.js
  src/utils/dotenv.js
  src/utils/handleRoute.js
  webpack.config.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, remark -o -r .remarkrc, remark -f -r .remarkrc, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

Development (#40)
  .babelrc
  .depcheckrc.json
  .env.dev
  .eslintignore
  .github/workflows/test.yml
  .nodemonrc
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  jest.config.js
  package-lock.json
  package.json
  scripts/await-build.js
  src/config/index.js
  src/index.js
  src/routes/index.js
  src/routes/message.route.js
  src/server/error.js
  src/server/index.js
  src/services/message.service.js
  src/tests/config/index.test.js
  src/tests/index.test.js
  src/tests/server/error.test.js
  src/tests/services/message.test.js
  src/utils/dotenv.js
  src/utils/handleRoute.js
  webpack.config.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json, remark -o -r .remarkrc, remark -f -r .remarkrc, npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

test: fixed jest watch console.error
  src/tests/server/error.test.js
  src/tests/services/message.test.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json

chore: add markdown to eslint
  .eslintrc.json
Due: prettier-standard --format '**/*.{json,yaml,yml}'

fix: not found error handling check if no error's occur
  src/server/error.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json

fix: jest tests
  src/tests/services/message.test.js
Due: eslint --ext .js,.md --fix --config=.eslintrc.json

fix: downgrade husky to fix git hooks
  package-lock.json
  package.json
Due: npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

chore: test
  .gitignore
  package.json
Due: npmPkgJsonLint ., lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json, prettier-standard --format '**/*.{json,yaml,yml}'

Path conditions:
  eslint --ext .js,.md --fix --config=.eslintrc.json: any of: *.{js,md}
  remark -o -r .remarkrc: any of: *.md
  remark -f -r .remarkrc: any of: *.md
  npmPkgJsonLint .: any of: {package.json, package-lock.json}
  lockfile-lint -a https://registry.npmjs.org -s -c -i -t npm -p package-lock.json: any of: {package.json, package-lock.json}
  prettier-standard --format '**/*.{json,yaml,yml}': any of: *.{json,yaml,yml}
